@model Game_Mania_Killer_App.Models.User
@using Game_Mania_Killer_App.Models

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="icon" href="https://www.gamemania.nl/favicon.ico?v=ff8b5f41-15e2-493c-a145-6e2e6f9c8f5e" type="image/x-icon" />

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                                
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
                @if (this.Session["User"] != null)
                {
                    User user = (User)this.Session["User"];
                    if (user.Rechten == 1)
                    {
                        <a href="@Url.Action("Beheeromgeving","Admin")" class="navbar-brand">Admin Panel</a>
                    }
                }
                <ul class="dropdown navbar-brand">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Games/Xbox">Xbox</a></li>
                        <li class="divider"></li>
                        <li><a href="/Games/Playstation">Playstation</a></li>
                        <li class="divider"></li>
                        <li><a href="/Games/Wii">Wii</a></li>
                    </ul>
</div>
            <div class="Login">
                @if (this.Session["User"] != null)
                {
                    User user = (User)this.Session["User"];

                 <div class="User">
                     <p>Welkom @user.ToString()</p>

                     <div class="row">
                         <div class="col-md-4"> <a class="btn btn-default" href="@Url.Action("Logout","Account")">Logout</a></div>
                         
                         <a class="btn btn-success col-md-push-2 col-md-6" href="@Url.Action("Huidig", "Bestelling")">Winkelmand</a> </div> 
                     </div>
                 
                }
                else
                {
                    <form action="@Url.Action("Login","Account")" method="post">
                        <div class="row">
                            <div class="col-md-5"><label><b>Gebruikersnaam:</b></label></div>
                            <div class="col-md-5"><input type="text" placeholder="Gebruikersnaam" name="Gebruikersnaam" required /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><label><b>Wachtwoord:</b></label></div>
                            <div class="col-md-5"><input type="password" placeholder="Wachtwoord" name="Wachtwoord" required /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><input class="btn btn-default" type="submit" value="Login" /></div>
                            <div class="col-md-5"><a href="@Url.Action("Register","Account")"> Geen account?</a></div>
                        </div>
                    </form>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Game mania</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

